*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  background: radial-gradient(circle, #eeaeca 0%, #94bbe9 100%);
  color: #ffffff; }

.main {
  padding: 3rem;
  display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.header {
  display: flex;
  justify-content: flex-end;
  text-align: center;
}
.heading-2 {
  font-size: 3rem; 
  flex-grow: 1;
  margin-top: 5rem;

}



.add-list {
  padding: 2rem; }
  .add-list__heading {
    font-size: 3rem; }
  .add-list__btn {
    padding: 1rem;
    margin-left: 2rem;
    background-color: #eeaeca;
    border-radius: 100px;
    border: solid 0.2rem #ea99bc;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.19);
    transition-duration: 0.2s; }
  .add-list__btn:hover {
    background-color: #ea99bc;
    border: solid 0.2rem #eeaeca; }
  .add-list__btn:active {
    transform: translateY(0.5rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.19); }
  .add-list__btn:focus {
    outline: none; }

.list-block {
  font-size: 1.4rem;
  margin: 2rem;
  padding: 0 4rem;
  border-radius: .5rem;
  background: linear-gradient(to right bottom, #e9f1fa 10%, #bed6f2 100%);
  color: #276cbd;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.19); }
.list-block:hover {
    background: linear-gradient(to right bottom, rgba(233, 241, 250, 0.8) 10%, rgba(190, 214, 242, 0.8) 100%);
}
 
.list-block__heading {
    padding: 2rem 0; }
    .list-block__heading:hover {
     cursor: pointer; 
       
    }
  .list-block__ul {
    list-style: decimal; }
  .list-block__item {
    padding: 1rem 2rem;
    font-size: 1.8rem;
    display: flex;
      
    
}
/*new*/
.list-block__item:hover {
    background: linear-gradient(rgba(233, 241, 250, 0.8) 90%, rgba(190, 214, 242, 0.8) 100%);
    border-radius: 1rem;
    
}
/*************/


  .list-block__input {
    resize: none;
    padding: 1rem 0.5rem;
    border-radius: .5rem;
    color: #276cbd;
    font-size: 2rem;
    border: none;
    background-color: transparent;
    }
  .list-block__input:focus {
    outline: none;}

.member-nav {
  display: flex;
  padding: 1.5rem 2.5rem; }
  .member-nav__li {
    list-style: none;
    margin: 2rem 1rem; }
  .member-nav__link, .member-nav__link:link, .member-nav__link:visited {
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    padding: 1.5rem 2.5rem;
    font-size: 1.5rem;
    border-radius: 2rem;
    transition: .4s; }
  .member-nav__link:hover, .member-nav__link:active {
    background-color: #d3e3f6;
    color: #276cbd; }



/* новое*/
.btn {
   margin-left: 2rem; 
    border-radius: 100px;
    border: none;
    background: none;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.19);
    transition-duration: 0.2s;
    color: #276cbd;
    padding: 0.5rem 0.7rem;
}
   .btn:hover {
    
    background: linear-gradient(to right bottom, #e9f1fa 10%, #276cbd 100%);;
    }
  .btn:active {
    transform: translateY(0.2rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.19); }
  .btn:focus {
    outline: none; }
.add-item__btn {
    padding: 1rem;
    margin-right: 2rem;
    margin-left: 0; 
    font-size: 1.2rem;
    box-shadow: none;
    text-transform: uppercase;
}


.list-block__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.adding {
    margin: 2rem 0;
}

.input-item {
    width: 100%;
    display: block;
    margin-bottom: 1.5rem;
    padding: 0.2rem 0;
}

.list-block__checkbox{
    align-self: center;
}

.list-block__id {
    margin-right: 1rem;
}
.list-block__name {
    flex-grow: 1;
}
.delete-item__btn {
    margin-left: 2rem;
    background: none;
    border: none;
    color: #ea99bc;
    font-size: 1.2rem;
    align-self: center;
}
.delete-item__btn:hover {
    
    color: #a8748b;
}
.delete-item__btn:active {
    transform: translateY(0.2rem);
}
.delete-item__btn:focus {
    outline: none; 
}

.items-section:last-child {
    margin-bottom: 2rem;
}




